<body>
    <a rel="stylesheet" href="create">Add new video</a>
    <div id="videos-container" class="contents-container"></div>
    {{#each videos as |video|}}
    <div class="video-card">
        <div class="video-title">
            {{video.title}}
        </div>
        <iframe class="video-player" src="{{video.url}}" name="url" frameborder="0" allowfullscreen></iframe>
        <div class="video-link">
            <a href="/videos/{{video._id}}">show {{video.title}}</a>
        </div>
    </div>
    {{/each}}
</body>